@charset "utf-8";
/* CSS Document */

body{ background:#eeeeee;}

/*合作机构*/
.cooperation{ width:95%; margin:10px auto; color:#595757}

/*贷款类*/
.loan{ background:#fff; width:96%; padding:15px 2%; margin-top:10px; margin:0 auto}
.loan .list,.list a{ display:inline-block; width:100%; background:-pink; overflow:hidden}
.loan .entry{ border-bottom:1px solid #d4d4d4; overflow:hidden; padding:15px 0}
.loan .list .entry_left{border:1px solid #e4e4e4;}
.entry_center{ margin-left:8px}
.en01{ color:#221815;}
.en02{ color:#727171;}
.en03{ width:60px; height:15px; line-height:15px; text-align:center; color:#7acd88; border:1px solid #7acd88; border-radius:5px}
.entry_right{ overflow:hidden; text-align:right}
.en04{ color:#010101}
.en04 span{ color:#1a3a87; font-weight:bold}
.en05{ color:#595757}


@media (min-width: 640px){
	.entry_left,.entry_left img{ width:75px; height:75px}
	.entry_right{ height:55px; padding-top:20px;}	
	.en01{ height:30px; line-height:30px}	
	.en02{ height:20px; line-height:20px;}	
	.en03{ margin-top:10px}
	.en05{ margin-top:10px}	
}	

@media (min-width: 500px) and (max-width: 639px) {
	.entry_left,.entry_left img{ width:68px; height:68px}
	.entry_right{ margin-top:10px}
	.en02{ margin-top:5px}
	.en03{ margin-top:5px}	
}

@media (min-width: 400px) and (max-width: 499px) {
	.entry_left,.entry_left img{ width:63px; height:63px}
	.entry_right{ margin-top:10px}
	.en02{ margin-top:5px}
	.en03{ margin-top:5px}		
}

@media (min-width: 321px) and (max-width: 399px) {
	.entry_left,.entry_left img{ width:58px; height:58px}
	.entry_right{ height:48px; padding-top:10px;}	
	.en01{ height:23px; line-height:23px}	
	.en02{ height:18px; line-height:18px}	
	.en03{ margin-top:2px}
	.en05{ margin-top:3px}
}

@media (max-width: 320px) {
	.entry_left,.entry_left img{ width:55px; height:55px}
	.entry_right{ margin-top:5px}
}	


